{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'itemstore/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Item store</h1>
{% if product_list %}
    <table border="1">
    <tr>
        <th width="10%">Name</th><th>Stock</th><th>Description</th>
    </tr>
    {% for product in product_list %}
        <tr>
            <td>{{ product.name|capfirst }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.description }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No products available<p>
{% endif %}
{% endblock %}
